html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
  

}

body {
  background-color: #3a4750;
  margin:0px;
  align-items: center;
  text-align: center;
  align-items: center;
  justify-content: center;
}

h1{
  color: yellow;
  background-color:#303841;
  font-weight: normal; 
  text-align: center;
  padding: 10px;
  margin:0px;
   font-family: 'Kanit', sans-serif;
}

.note{
  padding:10px;
  margin: 5px;
  width: 230px;
  background-color: yellow;
  color: black;
  align-items: center;
  text-align: center;
  font-family: "Teko", cursive;
  display: inline-block;
  position: relative;
}


.notebook{
  align-content: center;
  margin: auto;
  background-color: #303841;
  width: 500px;
}

button{
  padding: 16px 32px;
  background-color: lightgreen;
  align-items: center;
  text-align: center;
  text-decoration: bold;
  display: inline-block;
  font-size: 15px;
  border: 20px;
  margin: 4px 2px;
}

#add{
  padding: 16px 32px;
  background-color: lightgreen;
  align-items: center;
  text-align: center;
  text-decoration: bold;
  display: inline-block;
  font-size: 15px;
  border: 20px;
  margin: 4px 2px;
  
}

.delete-icon{
  width: 8%;
  display: inline-block;
  align-items: left;
  position: absolute;
  right: 10px;
}
